<div class="container">
<div id="gameCanvasContainer">
    <canvas id="gameCanvas"></canvas>
</div>
<audio autoplay="autoplay" loop="loop">
    <source src="../audio/heavy_metal_loop1_advanced64.MP3">
    <source src="../audio/heavy_metal_loop1_advanced64.OGG">
</audio>
</div>


<script src="http://localhost:8000/socket.io/socket.io.js"></script>
<script>var socket = io.connect('http://localhost:8000');</script>
<script src="js/requestAnimationFrame.js"></script>
<script src="js/models/Keys.js"></script>
<script src="js/models/Player.js"></script>
<script src="js/super_gauntlet.js"></script>
<script>
    init();
    animate();
</script>