<div class="container">
    <div class="starter-template col-md-6">
        <h1>Super Gauntlet
            <small>Ranger</small>
        </h1>
        <img src="http://placehold.it/500x150" alt="...">
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <small>Someone wise <cite title="Sourc
                        e Title">Source Title</cite></small>
        </blockquote>


        <p>Lorem ipsum dolor sit amet, consectetur
            adipiscing
            elit. Donec quis purus quis neque viverra
            vestibulum. Maecenas non auctor ipsum. Nulla eget
            eleifend felis.
        </p>
        <br />
        <br />
        <h4>Default Ranger Characteristics</h4>
        <table class="table table-bordered">
            <tr>
                <th>Strengths</th>
                <th>Weaknesses</th>
                <th>Abilities</th>
            </tr>

            <tr>
                <td>XXXX</td>
                <td>XXXX</td>
                <td>XXXX</td>
            </tr>
            <tr>
                <td>XXXX</td>
                <td>XXXX</td>
                <td>XXXX</td>
            </tr>
        </table>
        <br />
        <h4>Skill Options Options</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Donec quis purus quis neque viverra
            vestibulum. Maecenas non auctor ipsum. Nulla eget
            eleifend felis. Ut placerat tincidunt felis, sed
            vehicula purus.
        </p>

        <h4>Attack Options</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Donec quis purus quis neque viverra
            vestibulum. Maecenas non auctor ipsum. Nulla eget
            eleifend felis. Ut placerat tincidunt felis, sed
            vehicula purus.
        </p>
    </div>
    <div class="starter-template col-md-6">
        <h1>Customize <small>Ranger</small></h1>
        <hr />

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="userName"
                       class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control"
                           id="userName"
                           placeholder='Username (example: "Krull")'>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="attribute1"
                       class="col-lg-2 control-label">Ability</label>
                <div class="col-lg-2">
                    <input type="text"
                           class="form-control" id="attribute1"
                           placeholder="&plusmn;&nbsp; 2">
                </div>
            </div>
            <div class="form-group">
                <label for="attribute2"
                       class="col-lg-2 control-label">Ability</label>
                <div class="col-lg-2">
                    <input type="text"
                           class="form-control" id="attribute2"
                           placeholder="&plusmn;&nbsp; 2">
                </div>
            </div>
            <div class="form-group">
                <label for="attribute3"
                       class="col-lg-2 control-label">Ability</label>
                <div class="col-lg-2">
                    <input type="text"
                           class="form-control" id="attribute3"
                           placeholder="&plusmn;&nbsp; 2">
                </div>
            </div>

            <hr />
            <h4>Skills <small>Choose Wisely</small></h4>
            <h5><strong>Subsection</strong></h5>
            <div class="checkbox col-lg-offset-2 col-lg-10">
                <label>
                    <input type="checkbox" value="">
                    Option One
                </label>
            </div>
            <div class="checkbox col-lg-offset-2 col-lg-10">
                <label>
                    <input type="checkbox" value="">
                    Option Two
                </label>
            </div>
            <br />
            <h5><strong>Subsection</strong></h5>
            <div class="radio col-lg-offset-2 col-lg-10">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Option One
                </label>
            </div>
            <div class="radio col-lg-offset-2 col-lg-10">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    Option Two
                </label>
            </div>
            <div class="radio col-lg-offset-2 col-lg-10">
                <label>
                    <input type="radio" name="optionsRadios"
                           id="optionsRadios3" value="option3">
                    Option Three
                </label>
            </div>
            <br />
            <h5><strong>Subsection</strong></h5>
            <div class="radio col-lg-offset-2 col-lg-10">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Option One
                </label>
            </div>
            <div class="radio col-lg-offset-2 col-lg-10">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    Option Two
                </label>
            </div>
            <div class="radio col-lg-offset-2 col-lg-10">
                <label>
                    <input type="radio" name="optionsRadios"
                           id="optionsRadios3" value="option3">
                    Option Three
                </label>
            </div>




            <div class="col-lg-offset-10 col-lg-2">
                <button type="submit"
                        class="spacer btn btn-default">Join
                    Game</button>
            </div>


        </form>



    </div>
</div>