/*
File Name: super_gauntlet.css
Author: Randy Ledbetter

/*
===============================================================================
Description:  CSS styles for Super Gauntlet Game
===============================================================================
*/

body {
}

img {
    width: 100%;
    height: auto;
}

canvas {
}

#gameCanvasContainer {


}

#gameCanvas {
    border: 1px solid #000000;
    background-color: #444444;
    width: 100%;
    height: auto;


}

.spacer {
    padding-top: 80px; /* define margin as you see fit */

}

.sg-control-label {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.sg-help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.wrapper {
    display: table;
    width: 100%;
    position: absolute;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.inner-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.canvas-container {
    position: relative;
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto -60px;
}


