/*
File Name: super_gauntlet.css
Author: Randy Ledbetter

/*
===============================================================================
Description:  CSS styles for Super Gauntlet Game
===============================================================================
*/

body {
    
}

#wrap {}
    

.sg-bg-light {
    background: #d5cea6; /* Old browsers */
    background: rgb(209,211,96); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(209,211,96,1) 0%, rgba(229,230,150,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,211,96,1)), color-stop(100%,rgba(229,230,150,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(209,211,96,1) 0%,rgba(229,230,150,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(209,211,96,1) 0%,rgba(229,230,150,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(209,211,96,1) 0%,rgba(229,230,150,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(209,211,96,1) 0%,rgba(229,230,150,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d360', endColorstr='#e5e696',GradientType=0 ); /* IE6-9 */

}

.sg-bg-dark {
    background: rgb(16,16,17); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(16,16,17,1) 0%, rgba(7,7,7,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,16,17,1)), color-stop(100%,rgba(7,7,7,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(16,16,17,1) 0%,rgba(7,7,7,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(16,16,17,1) 0%,rgba(7,7,7,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(16,16,17,1) 0%,rgba(7,7,7,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(16,16,17,1) 0%,rgba(7,7,7,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101011', endColorstr='#070707',GradientType=0 ); /* IE6-9 */

}

img {
    width: 100%;
    height: auto;
}

canvas {
}

#gameCanvas {
    border: 4px solid #9a9494;
    width: 100%;
    height: auto;
    background-color: #444;
  
}
.gamelayer {
position:absolute;
display:none;
}

.spacer {
    padding-top: 80px; /* define margin as you see fit */

}

.sg-control-label {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.sg-help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.wrapper {
    display: table;
    width: 100%;
    position: absolute;
    min-height: 100%;
    height: auto !important;
    height: 100%;

    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.inner-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.canvas-container {
    position: relative;
    width: 640px;
    height: 640px;
    margin: 0 auto;
}
.navbar-inverse, #footer {
    background-color: black;
}

.black {
    background-color: #261f19;
}

.black-bg {
    background-color: #f4eec5;
    color: black;
    background: -moz-linear-gradient(top,  rgba(76,58,26,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,58,26,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,58,26,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,58,26,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,58,26,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,58,26,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a64c3a1a', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.sg-text {
    height: 40px;
    width: 300px;
    margin-top: 10px;
    padding: 0px;
}

.sg-font {
    font-family: Impact, Charcoal, sans-serif;
    font-size:16px;
    color: #222222;
    letter-spacing:  1px;
}

#submit {
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000000 0%, #45484d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#45484d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #000000 0%,#45484d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #000000 0%,#45484d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #000000 0%,#45484d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #000000 0%,#45484d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */

}

#joinGame {
    background: #1f3b08; /* Old browsers */
    background: -moz-linear-gradient(top,  #1f3b08 0%, #627d4d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f3b08), color-stop(100%,#627d4d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1f3b08 0%,#627d4d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1f3b08 0%,#627d4d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1f3b08 0%,#627d4d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1f3b08 0%,#627d4d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3b08', endColorstr='#627d4d',GradientType=0 ); /* IE6-9 */

    color: white;
}

input[type="text"], textarea {

  background-color : black; 
  color: white;

}

.health-bar-wrapper {
    
     margin: 0 auto;
    margin-top: 35px;
    width: 640px;
    height: 60px;
    position: relative;
    background: blue;
}
#progress {
   
    width: 640px;
    height: 60px;
    background: transparent url(../images/health-bar-bg.png) scroll 0 0;
    overflow: hidden;
    position: relative;
}

#completion {
    width: 326px;
    max-width: 326px;
    height: 36px;
    overflow: hidden;
    position: relative;
    left: 288px; top: 11px;
}

.fighter-completion {
    background: transparent url(../images/red-stone-bar.png) scroll 0 0;
}

.ranger-completion {
    background: transparent url(../images/green-stone-bar.png) scroll 0 0;
}

.mage-completion {
    background: transparent url(../images/violet-stone-bar.png) scroll 0 0;
}

.cleric-completion {
    background: transparent url(../images/blue-stone-bar.png) scroll 0 0;
}

#player-name,
#weapon-name {
    font-family: 'Impact';
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
    position: relative;
    
}

#player-name {
    bottom: 27px;
    left: 120px;
}

#weapon-name {
    bottom: 25px;
    left: 85px;
}

.fighter-text {
    text-shadow: 0px 2px 12px rgba(242, 129, 73, 1);
    color: #f4ccc5;
}

.ranger-text {
    text-shadow: 0px 2px 10px rgba(60, 200, 70, 1);
    color: #d7f2da;
}

.mage-text {
    text-shadow: 0px 2px 10px rgba(210, 24, 190, 1);
    color: #f3c9ef;
}

.cleric-text {
    text-shadow: 0px 2px 10px rgba(20, 130, 230, 1);
    color: #bdd3e6;
}

.button-container {
    margin-top: 20px;
    margin-bottom: 40px;
}