<div class="container">
    <div class="starter-template col-md-6">
        <h1>Super Gauntlet
            <small>Mage</small>
        </h1>
        <img src="http://placehold.it/500x150" alt="...">
        <blockquote>
            <p>A Wizard is never late. Nor is he early. He arrives precisely when he means to.</p>
            <small>Gandalf the Grey <cite title="Source Title">Source Title</cite></small>
        </blockquote>


        <p>There are two ways to build your Mage. You can go in hard and heavy and dominate single targets, or you can build moves that are better for killing large groups of weak opponents.
        </p>
        <br />
        <br />
        <h4>Default Mage Characteristics</h4>
        <table class="table table-bordered">
            <tr>
                <th>Build</th>
                <th>Strengths</th>
                <th>Weaknesses</th>
                <th>Abilities</th>
            </tr>

            <tr>
                <td>Burst</td>
                <td>Croud Controll</td>
                <td>Raw damage output</td>
                <td>Whirlwind, Chain Lightning, Ice Storm</td>
            </tr>
            <tr>
                <td>Focus</td>
                <td>Boss fights</td>
                <td>Bad at clearing mobs</td>
                <td>Magic Missile, Smite, Fireball</td>
            </tr>
        </table>
        <br />
        <h4>Skill Options </h4>

        <p>
            Magic Missile: Spell fires a high power missle at the target. Short cooldown
        </p>
        <p>
            Smite: This spell does massive true damage to eneimes
        </p>
        <p>
            Fireball: This spell is a heavy hitting spell that inflicts burn. Large cooldown
        </p>
        <p>
            Whirlwind: A gust of wind injurs multiple enemies. Ranged AOE.
        </p>
        <p>
            Chain Lightning: Lightning that jumps from baddie to baddie, doing more damage on each one it hits, stopping when it kills one. Ranged Chain.
        </p>
        <p>
            Ice Storm: Slows Enimies. Ranged AOE.
        </p>
     
    </div>
    <div class="starter-template col-md-6">
        <h1>Customize <small>Mage</small></h1>
        <hr />
        <form class="form-horizontal" id="customization-form" method="get" action="">
            <div class="form-group">
                <label for="userName" class="col-lg-2 sg-control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="userName" placeholder='Username (example: "Zaxial")'>
                </div>
            </div>
            <div class="username-error"><strong class="text-danger"></strong></div>
            <hr />
            <div class="form-group">
                <h4>Ability scores <small>Choose Wisely</small></h4>
                <p class="help-block">Increase your core abilities as you see fit.
                    You have 6 points to divide among your Strength, Dexterity,
                    and Constitution. These additional points will
                    be added to your class' base ability scores.
                </p>
            </div>
            <strong>Wisdom</strong>
            <div class="form-group">
                <label for="str" class="col-lg-offset-1 col-lg-3 sg-help-block">Base 10 +</label>
                <div class="col-lg-2">
                    <input  class="form-control number-required" id="str" type="text">
                </div>
            </div>
            <strong>Dexterity*</strong>
            <div class="form-group">
                <label for="dex" class="col-lg-offset-1 col-lg-3 sg-help-block">Base 14 +</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control number-required" id="dex" type="text">
                </div>
            </div>
            <strong>Intelect</strong>
            <div class="form-group">
                <label for="con" class="col-lg-offset-1 col-lg-3 sg-help-block">Base 14 +</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control number-required" id="con" type="text">
                </div>
            </div>
            <div class="abilities-error"><strong class="text-danger"></strong></div>
            <hr />
            <div class="row">
                <h4>Skills <small>Choose Wisely</small></h4>
                <div class="col-lg-6">
                    <form class="col-lg-6">
                        <h5><strong>Level 1 Spell</strong></h5>
                        <div class="radio">
                            <label class="help-block">
                                <input type="radio" name="optionsRadios" id="weapon1" value="option1" checked>Whirlwind
                            </label>
                        </div>
                        <div class="radio">
                            <label class="help-block">
                                <input type="radio" name="optionsRadios" id="weapon2" value="option2">Magic Missile
                            </label>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <form>
                        <h5><strong>Level 2 Spell</strong></h5>
                        <div class="radio">
                            <label class="help-block">
                                <input type="radio" name="optionsRadios" id="ChainLightning" value="option1" checked>Chain Lightning
                            </label>
                        </div>
                        <div class="radio">
                            <label class="help-block">
                                <input type="radio" name="optionsRadios" id="Smite" value="option2">Smite
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                    <form>
                        <h5><strong>Level 3 Spell</strong></h5>
                        <div class="radio">
                            <label class="help-block">
                                <input type="radio" name="optionsRadios" id="IceStorm" value="option1" checked>Ice Storm
                            </label>
                        </div>
                        <div class="radio">
                            <label class="help-block">
                                <input type="radio" name="optionsRadios" id="Fireball" value="option2">Fireball
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <hr />
            <div class="form-group pull-right spacer">
                <p>
                    <button id="submit" class="btn btn-primary btn-lg">Submit</button>
                    <a href="#gameView"  id="joinGame" class="btn btn-default btn-lg disabled">Join Game</a>
                </p>
            </div>
        </form>

    </div>
</div>

<script>

    function initializeMage(){
        var name = $("#userName").val(),
                str = parseInt($("#str").val()),
                con = parseInt($("#con").val()),
                dex = parseInt($("#dex").val());

        window.localPlayer = new Player();
        localPlayer.set({username: name});
        localPlayer.set({role: 2});
        localPlayer.set({str: 10 + str});
        localPlayer.set({con: 14 + con});
        localPlayer.set({dex: 14 + dex});
        localPlayer.set({speed: localPlayer.get("speed") + ((14 + dex)/2)});
        localPlayer.set({ac: localPlayer.get("ac") + ((14 + dex)/2)});
        localPlayer.set({hp: localPlayer.get("hp") + (localPlayer.get("level") * (((14 + con)/2) + 6))});
        console.log($('#weapon1').is(':checked'));
        if ($('#weapon1').is(':checked')){
            localPlayer.set({weapon: "weapon1"});
        } else {
            localPlayer.set({weapon: "weapon2"});
        }
        console.log($('#magicItem1').is(':checked'));
        if ($('#magicItem1').is(':checked')){
            localPlayer.set({items: "magicItem1"});
        } else {
            localPlayer.set({items: "magicItem2"});
        }

        console.log(localPlayer.toJSON());
    }

    $(document).ready(function(){

        var notValid = true;

        $("#userName").blur(function(){
            if(this.value == ''){
                $(this).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(".username-error").addClass('show').removeClass('hide');
            } else {
                $(this).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(".username-error").addClass('hide').removeClass('show');
            }
        });

        $(".number-required").blur(function(){
            var regExp = /^(\d|,)+$/;
            var total = parseInt($("#str").val()) + parseInt($("#dex").val()) + parseInt($("#con").val());

            if(!(regExp.test(parseInt($(this).val())))){
                $(this).closest('.form-group').removeClass('has-success').addClass('has-error');
                $("#customization-form div.abilities-error strong.text-danger").html("You may only enter numbers for your ability scores.");
            } else {
                $(this).closest('.form-group').removeClass('has-error').addClass('has-success');
                $("#customization-form div.abilities-error strong.text-danger").html("");
            }
        });

        $("#submit").click(function(){
            console.log('clicked next button.');

            var total = parseInt($("#str").val()) + parseInt($("#dex").val()) + parseInt($("#con").val());
            console.log("total = " + total);

            if(total != 6){
                $(".number-required").closest('.form-group').removeClass('has-success').addClass('has-error');
                $("#customization-form div.abilities-error strong.text-danger").html("Your ability score fields must sum to 6.");
            } else {
                $(".number-required").closest('.form-group').removeClass('has-error').addClass('has-success');
                $("#customization-form div.abilities-error strong.text-danger").html("");
            }

            if($("#userName").val() == ''){
                $("#userName").closest('.form-group').removeClass('has-success').addClass('has-error');
                $("#userName").closest('label.control-label').removeClass('has-error');
                $("#customization-form div.username-error strong.text-danger").html("You must enter a username.");
            }

            if(total == 6 && $("#userName").val() != ''){
                notValid = false;
                $('#joinGame').removeClass('disabled');
            }

        });

        $('#joinGame').click(function(e) {
            if(notValid){
                e.preventDefault();
            } else {
                initializeMage();
            }
        });

    });

</script>




