<div class="container">
    <div class="starter-template col-md-6">
        <h1>Super Gauntlet
            <small>Ranger</small>
        </h1>
        <img src="http://placehold.it/500x150" alt="...">
        <blockquote>
            <p>Well we had to get in and out quick with the loot, I tell you, but not so quick that we didn't kill a few of the ugly brutes.</p>
            <small> A. Ranger <cite title="Source Title">Source Title</cite></small>
        </blockquote>


        <p>
            The ranger's power lies in his speed and versatility. You can help your team in many ways based on the abilities you select. A ranger should mostly try to stack Dex.
        </p>
        <br />
        <br />
        <h4>Default Ranger Characteristics</h4>
        <table class="table table-bordered">
            <tr>
                <th>Strengths</th>
                <th>Weaknesses</th>
                <th>Abilities</th>
            </tr>

            <tr>
                <td>Dex</td>
                <td>Con</td>
                <td>XXXX</td>
            </tr>
            <tr>
                <td>Ranged Fighting</td>
                <td>Defence</td>
                <td>XXXX</td>
            </tr>
        </table>
        <br />
        <h4>Skill Options </h4>

        <p>
Blink Snare Flaming Arrow True shot Cripple

            Blink: Teleport a short distance. Usefull to escape tricky situations, and for escaping after baiting mobs. (short cooldown)
            Snare: Holds a group of targets still for a moderate time. (short cooldown)
            Flaming Arrow: Chance to inflict Burn on a single enemy (short cooldown)
            True shot: Allows 3 arrows to do true damage (short cooldown)
            Hip shot: Take the target off balance by shooting them in the hip. (reduces movement speed or target) (short cooldown)
            Crippling shot: Lowers the damage output (str) of a single target.  (short cooldown)

        </p>

        <h4>Attack Options</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Donec quis purus quis neque viverra
            vestibulum. Maecenas non auctor ipsum. Nulla eget
            eleifend felis. Ut placerat tincidunt felis, sed
            vehicula purus.
        </p>
    </div>
    <div class="starter-template col-md-6">
        <h1>Customize <small>Ranger</small></h1>
        <hr />
        <form class="form-horizontal" id="customization-form" method="get" action="">
            <div class="form-group">
                <label for="userName" class="col-lg-2 sg-control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="userName" placeholder='Username (example: "Granith")'>
                </div>
            </div>
            <div class="username-error"><strong class="text-danger"></strong></div>
            <hr />
            <div class="form-group">
                <h4>Abilities <small>Choose Wisely</small></h4>
                <p class="help-block">Increase your core abilities as you see fit.
                    You have 6 points to divide among your Strength, Dexterity,
                    and Constitution. These additional points will
                    be added to your class' base ability scores.
                </p>
            </div>
            <strong>Strength</strong>
            <div class="form-group">
                <label for="str" class="col-lg-offset-1 col-lg-3 sg-help-block">Base 12 +</label>
                <div class="col-lg-2">
                    <input  class="form-control number-required" id="str" type="text">
                </div>
            </div>
            <strong>Dexterity</strong>
            <div class="form-group">
                <label for="dex" class="col-lg-offset-1 col-lg-3 sg-help-block">Base 14 +</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control number-required" id="dex" type="text">
                </div>
            </div>
            <strong>Constitution</strong>
            <div class="form-group">
                <label for="con" class="col-lg-offset-1 col-lg-3 sg-help-block">Base 12 +</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control number-required" id="con" type="text">
                </div>
            </div>
            <div class="abilities-error"><strong class="text-danger"></strong></div>
            <hr />
            <div class="row">
                <h4>Abilities </h4>
                <div class="col-lg-6">
                    <form class="col-lg-6">
                        <h5><strong>Level 1</strong></h5>
                        <div class="radio">
                            <label class="help-block">
                                <input type="radio" name="optionsRadios" id="weapon1" value="option1" checked>Flaming Arrow
                            </label>
                        </div>
                        <div class="radio">
                            <label class="help-block">
                                <input type="radio" name="optionsRadios" id="weapon2" value="option2">Hip Shot
                            </label>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <form>
                        <h5><strong>Level 2</strong></h5>
                        <div class="radio">
                            <label class="help-block">
                                <input type="radio" name="optionsRadios" id="magicItem1" value="option1" checked>Crippling shot
                            </label>
                        </div>
                        <div class="radio">
                            <label class="help-block">
                                <input type="radio" name="optionsRadios" id="magicItem2" value="option2">Blink
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <hr />
            <div class="form-group pull-right spacer">
                <p>
                    <button id="submit" class="btn btn-primary btn-lg">Submit</button>
                    <a href="#gameView"  id="joinGame" class="btn btn-default btn-lg disabled">Join Game</a>
                </p>
            </div>
        </form>

    </div>
</div>

<script>

    function initializeRanger(){
        var name = $("#userName").val(),
                str = parseInt($("#str").val()),
                con = parseInt($("#con").val()),
                dex = parseInt($("#dex").val());

        window.localPlayer = new Player();
        localPlayer.set({username: name});
        localPlayer.set({role: 1});
        localPlayer.set({str: 12 + str});
        localPlayer.set({con: 14 + con});
        localPlayer.set({dex: 12 + dex});
        localPlayer.set({speed: localPlayer.get("speed") + ((14 + dex)/2)});
        localPlayer.set({ac: localPlayer.get("ac") + ((14 + dex)/2)});
        localPlayer.set({hp: localPlayer.get("hp") + (localPlayer.get("level") * (((12 + con)/2) + 10))});
        console.log($('#weapon1').is(':checked'));
        if ($('#weapon1').is(':checked')){
            localPlayer.set({weapon: "weapon1"});
        } else {
            localPlayer.set({weapon: "weapon2"});
        }
        console.log($('#magicItem1').is(':checked'));
        if ($('#magicItem1').is(':checked')){
            localPlayer.set({items: "magicItem1"});
        } else {
            localPlayer.set({items: "magicItem2"});
        }

        console.log(localPlayer.toJSON());
    }

    $(document).ready(function(){

        var notValid = true;

        $("#userName").blur(function(){
            if(this.value == ''){
                $(this).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(".username-error").addClass('show').removeClass('hide');
            } else {
                $(this).closest('.form-group').removeClass('has-error').addClass('has-success');
                $(".username-error").addClass('hide').removeClass('show');
            }
        });

        $(".number-required").blur(function(){
            var regExp = /^(\d|,)+$/;
            var total = parseInt($("#str").val()) + parseInt($("#dex").val()) + parseInt($("#con").val());

            if(!(regExp.test(parseInt($(this).val())))){
                $(this).closest('.form-group').removeClass('has-success').addClass('has-error');
                $("#customization-form div.abilities-error strong.text-danger").html("You may only enter numbers for your ability scores.");
            } else {
                $(this).closest('.form-group').removeClass('has-error').addClass('has-success');
                $("#customization-form div.abilities-error strong.text-danger").html("");
            }
        });

        $("#submit").click(function(){
            console.log('clicked next button.');

            var total = parseInt($("#str").val()) + parseInt($("#dex").val()) + parseInt($("#con").val());
            console.log("total = " + total);

            if(total != 6){
                $(".number-required").closest('.form-group').removeClass('has-success').addClass('has-error');
                $("#customization-form div.abilities-error strong.text-danger").html("Your ability score fields must sum to 6.");
            } else {
                $(".number-required").closest('.form-group').removeClass('has-error').addClass('has-success');
                $("#customization-form div.abilities-error strong.text-danger").html("");
            }

            if($("#userName").val() == ''){
                $("#userName").closest('.form-group').removeClass('has-success').addClass('has-error');
                $("#userName").closest('label.control-label').removeClass('has-error');
                $("#customization-form div.username-error strong.text-danger").html("You must enter a username.");
            }

            if(total == 6 && $("#userName").val() != ''){
                notValid = false;
                $('#joinGame').removeClass('disabled');
            }

        });

        $('#joinGame').click(function(e) {
            if(notValid){
                e.preventDefault();
            } else {
                initializeRanger();
            }
        });

    });

</script>




