
    <div class="container">
        <div class="starter-template col-md-6">
            <h1>Super Gauntlet
                <small>Splash Screen</small>
            </h1>
            <hr />
            <p>The gold! The glory! The best fighters in the world come to this dungeon to farm the best dungeoneering 
            </p>
            <p>Choose your warrior to compete in the most bloody trial of our age. The greatest gauntlet in decades. A constant barrage of F*** you. A battle for life and prosparity. A battle for the fate of your team... But mostly... A battle for the lulz. Welcome to Super Gauntlet.
            </p>
        </div>
        <div class="starter-template col-md-6">
            <h1>Select a Player <small>Subtext for header</small></h1>
            <hr />
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="black">
                        Fighter
                    </div>
                    <a href="#fighterOptions" class="thumbnail">
                        <img src="images/fighter-splash-100.png"
                             alt="...">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="black">
                        Ranger
                    </div>
                    <a href="#rangerOptions" class="thumbnail">
                        <img src="images/ranger-splash-100.png"
                             alt="...">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="black">
                        Mage
                    </div>
                    <a href="#mageOptions" class="thumbnail">
                        <img src="images/mage-splash-100.png"
                             alt="...">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="black">
                        Cleric
                    </div>
                    <a href="#clericOptions" class="thumbnail">
                        <img

                                src="images/cleric-splash-100.png"
                                alt="...">
                    </a>
                </div>


            </div>
        </div>
    </div>

    <div>
        <img src="http://placehold.it/1980x640" alt="...">
    </div>