
    <div class="container">
        <div class="starter-template col-md-6">
            <h1>Super Gauntlet
                <small>Splash Screen</small>
            </h1>
            <hr />
            <p>The gold! The glory! The best fighters in the world come to this dungeon to farm the best dungeoneering 
            </p>
            <p>Choose your warrior to compete in the most bloody trial of our age. The greatest gauntlet in decades. A constant barrage of F*** you. A battle for life and prosparity. A battle for the fate of your team... But mostly... A battle for the lulz. Welcome to Super Gauntlet.
            </p>
        </div>
        <div class="starter-template col-md-6">
            <h1>Select a Player <small>Subtext for header</small></h1>
            <hr />
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="black">
                        Fighter
                    </div>
                    <a href="#fighterOptions" class="thumbnail">
                        <img src="http://images3.wikia.nocookie.net/__cb62375/elderscrolls/images/thumb/e/eb/Class_creation_barbarian.png/100px-0,287,0,287-Class_creation_barbarian.png"
                             alt="...">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="black">
                        Ranger
                    </div>
                    <a href="#rangerOptions" class="thumbnail">
                        <img src="http://images4.wikia.nocookie.net/__cb62404/elderscrolls/images/thumb/9/97/Class_creation_archer.png/100px-0,312,0,312-Class_creation_archer.png"
                             alt="...">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="black">
                        Mage
                    </div>
                    <a href="#mageOptions" class="thumbnail">
                        <img src="http://images1.wikia.nocookie.net/__cb62381/elderscrolls/images/thumb/8/80/Imperial.gif/100px-0,220,0,220-Imperial.gif"
                             alt="...">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="black">
                        Cleric
                    </div>
                    <a href="#clericOptions" class="thumbnail">
                        <img

                                src="http://images2.wikia.nocookie.net/__cb62396/elderscrolls/images/thumb/1/10/Class_creation_healer.png/100px-0,225,0,225-Class_creation_healer.png"
                                alt="...">
                    </a>
                </div>


            </div>
        </div>
    </div>

    <div>
        <img src="http://placehold.it/1980x640" alt="...">
    </div>